body{
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid#d3d0d0;
}

.header img{
    float: left;
    width: 50px;
    height: 50px;
}

.header h2{
    font-family: NanumSquareR;
    color: #ffd600;
    font-weight: normal;
}

.signin-wrapper{
    width:30%;
    margin: 0 auto;
    margin-top: 50px;
}

.signin-info{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    
}

.signin-info img{
    width: 130px;
        height: 130px;
}

.signin-info h3{
    margin: 0;
    font-weight: normal;
    font-family: NanumSquareR;
}

.signin-info h3:last-child{
    margin-top: 10px;
        margin-bottom: 50px;
        font-weight: bold;
}

.signin-form span{
    font-family: NanumSquareR;
        font-size: 15px;
}

.signin-form input[type="text"], input[type="password"]{
    outline: none;
    box-sizing: border-box;
    padding-left: 25px;
    margin-bottom: 30px;
    width: 100%;
    height: 60px;
    border-radius: 7px;
    border: solid 1px #e8e8e8;
    background-color: #ffffff;
    margin-top: 4px;
}

.signin-form input[type="text"]::placeholder, input[type="password"]::placeholder{
    color: #e8e8e8;
}

.signinbtn{
    margin-top: 7px;
    margin-bottom: 30px;
    padding: 10px;
    width: 100%;
    height: 50px;
    border-radius: 7px;
    border: solid 1px #e8e8e8;
    background-color: #ededed;
    color: #b3b3b3;
}

.inputId.noHangul{
    box-sizing: border-box;
    padding-left: 25px;
    margin-bottom: 30px;
    width: 100%;
    height: 60px;
    border-radius: 7px;
    border: solid 2px #ff0000;
    color: #ff0000;
    
}

.signinbtn.effect{
    color: white;
    background-color: #ffd600;
}

.plus-func{
    width: 100%;
    height: 30px;
}

.plus-func input[type="radio"]{
    border: 1px solid #e8e8e8;
    background: none;
}

.find-info{
    float: right;   
}

.find-info span:first-child{
    padding-right: 8px;
}

.find-info span:last-child{
    padding-left: 8px;
    border-left: 1px solid black;
}

button{
    margin-bottom: 100px;
    width: 220px;
    height: 50px;
    background-color: #ffff8d;
    border: none;
    border-radius: 7px;
}

button:last-child{
    margin-left: 10px;
    background: #ffffff;
    border: 1px solid black;
}

.nosign{
    margin: 0 auto;
    margin-bottom: 10px;
    color: #999999;
    text-align: center;
    font-size: 13px;
}